@model IEnumerable<EduPortal.Core.Entity.Subject>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberofWeeks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LecturesPerWeek)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfCreation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberofWeeks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LecturesPerWeek)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfCreation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
